header{
  height: 15vh;
}

main{
  min-height: 70vh;
}

footer{
  height: 15vh;
}

a{
  text-decoration: none !important;
}

.flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.font-s{
  font-size: 12px;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1200px) {

}


/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 992px) and (max-width: 1199px) {

}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 991px) {

}



/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {


}



/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media screen and (max-width: 575px) {

}